JWT_PUBLIC_KEY=""

# ── Web ──────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL="https://powerlog.negri.es."
NEXT_PUBLIC_GRAPHQL_URL="/api/graphql"

NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=""
NEXT_PUBLIC_POSTHOG_HOST="https://eu.i.posthog.com"
NEXT_PUBLIC_POSTHOG_UI_HOST="https://eu.posthog.com"

POSTHOG_ASSETS_HOST="https://eu-assets.i.posthog.com"

JWT_ISSUER="powerlog"
JWT_AUDIENCE="powerlog-web"
JWT_EXPIRES_IN="15m"
REFRESH_EXPIRES_IN="30d"
AUTH_COOKIE_NAME="pl_at"
REFRESH_COOKIE_NAME="pl_rt"

WEB_ORIGIN="https://powerlog.negri.es"